body {
    align-content: center;
    margin: 0;
}

.btn-box {
    background-color: #007ac1;
    height: 60px;
    width: 100%;
}

.center {
    text-align: center;
    justify-content: center;
    display: flex;
}

#decenter {
    text-align: left;
    justify-content: left;
    display: flex;
}

.add-btn {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 675px;
    position: absolute;
    background-color: #007ac1;
    border: 1px solid grey ;
    display: block;
    color: white;
    height: 45px; /* Some padding */
    width: 50px;
    cursor: pointer; /* Pointer/hand icon */
}

.add-btn button:hover {
    background-color: #02a9f4;
}

.btn-group button {
    font-size: 20px;
    position: relative;
    background-color: #007ac1;
    border: 0;
    display: block;
    color: white;
    height: 60px; /* Some padding */
    width: 120px;
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #02a9f4;
}

.logo {
    background-color: #007ac1;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;

    left: 0;
    top: 0;
}

.object-box {
    margin: 10px;
    height: 130px;
    width: 600px;
}

.object-text {
    margin-left: 10px;
    height: 130px;
    width: 380px;
}

.object-options {
    margin-left: 10px;
    height: 130px;
    width: 50px;
}

.object-pick-btn {
    font-size: 20px;
    background-color: #007ac1;
    border: 1px solid grey ;
    display: block;
    color: white;
    height: 50px; /* Some padding */
    width: 50px;
    cursor: pointer; /* Pointer/hand icon */
}

.order-box {
    position:absolute;
    display: block;
    width: 300px;
    height: 500px;
    margin-top: 25px;
    margin-left: 925px;
    background-color: whitesmoke;
}

.order-box-header {
    height: 45px;
    background-color: #007ac1;
}

.order-box-content {
    height: 410px;
}

.order-box-footer {
    height: 45px;
    background-color: #007ac1;
}

.order-btn {

}

.object-img {
    height: 130px;
    width: 130px;
    border: 1px solid grey;
}

.container {
    margin-top: 25px;
    text-align: center;
    width: 600px;
    background-color: whitesmoke;
}

.content-box {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 600px;
    background-color: whitesmoke;
}

.object-dlt-btn {
    font-size: 20px;
    background-color: red;
    border: 1px solid grey ;
    display: block;
    color: white;
    height: 65px; /* Some padding */
    width: 50px;
    cursor: pointer; /* Pointer/hand icon */
}

.object-title {

}

.object-desc {
    height: 90px;
}

.object-price {
    left:20px;
    margin-bottom: 0;
    color: green;
}

.form-box {
    background-color: #02a9f4;
    height: 500px;
    width: 500px;
}

.object-conf-btn {
    font-size: 20px;
    background-color: darkseagreen;
    border: 1px solid grey ;
    display: block;
    color: white;
    height: 65px; /* Some padding */
    width: 50px;
    cursor: pointer; /* Pointer/hand icon */
}

.content-box {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 600px;
    background-color: whitesmoke;
}

.dropbtn {
    background-color: #007ac1;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 20px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #02a9f4;}

* {
    box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #007ac1;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #02a9f4;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}