<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="btn-box">
    <button type="button" th:onclick="|window.location.href='/menu'|" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button type="button" th:onclick="|window.location.href='/menu'|">Menu</button>
            <button type="button" th:onclick="|window.location.href='/orders'|">Orders</button>
            <button type="button" th:onclick="|window.location.href='/users'|">Users</button>
            <button type="button" th:onclick="|window.location.href='/couriers'|">Couriers</button>
            <button type="button" th:onclick="|window.location.href='/statistics'|">Statistics</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a href="http://localhost:8080/logout">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="container">
        <form name="add" action="/add" method="POST">
            <div class="col">
                <div class="col">
                    <div class="form-group">
                        <label for="name" class="control-label">Product name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="name"/><br>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="price" class="control-label">Price</label>
                        <input type="number" name="price" class="form-control" id="price" placeholder="price"/><br>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="url" class="control-label">Image url</label>
                        <input type="text" name="url" class="form-control" id="url" placeholder="url"/><br>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="description" class="control-label">Product description</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="description"/><br>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <button name="post" type="submit" value="0" class="btn btn-primary">add</button>
                        <button type="button" th:onclick="|window.location.href='/menu'|" value="0" class="btn btn-primary">back</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer"></div>
</div>

</body>

</html>