<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="test.js"></script>
</head>

<body>
<div class="btn-box">
    <button type="button" th:onclick="|window.location.href='/menu'|" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button type="button" th:onclick="|window.location.href='/menu'|">Menu</button>
            <button type="button" th:onclick="|window.location.href='/orders'|">Orders</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="order-finished-container">
        <div class="order-finished-header">
            Order Number #<td th:text="${orderNumber}"></td>
        </div>
        <div class="order-finished-content">

            <td th:text="${date}"></td>
            <br>
            <b>
            Your order is on its way!
            </b>
        </div>
        <button class="order-finished-btn" type="button" th:onclick="|window.location.href='/menu'|">Back</button>
    </div>

    <div class="footer"></div>

</div>
</body>
</html>