<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="test.js"></script>
</head>

<body>
<div class="btn-box">
    <button onclick="window.location.href = 'http://localhost:8080/menuCustomer'" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button onclick="window.location.href = 'http://localhost:8080/menuCustomer'">Menu</button>
            <button>Orders</button>
            <button>Users</button>
            <button>Couriers</button>
            <button>Statistics</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</div>

<div class="center">

    <div class="content-box">
        <tr th:each="product: ${products}">
            <td th:text="${product.getProductName()}"></td>
            <br>
        </tr>
    </div>
</div>

</body>

</html>