<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="btn-box">
    <button type="button" th:onclick="|window.location.href='/menu'|" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button type="button" th:onclick="|window.location.href='/menu'|">Menu</button>
            <button type="button" th:onclick="|window.location.href='/orders'|">Orders</button>
            <button type="button" th:onclick="|window.location.href='/users'|">Users</button>
            <button type="button" th:onclick="|window.location.href='/couriers'|">Couriers</button>
            <button type="button" th:onclick="|window.location.href='/statistics'|">Statistics</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a href="http://localhost:8080/logout">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="order-finished-container2">
        <div class="order-finished-header">
            Order Number: #<td th:text="${order.getOrderNumber()}"></td>
        </div>

        <h4>Order details:</h4>
            <div class="row">
                Customer ID: #<td th:text="${order.getCustomerId()}"></td>
            </div>

            <div class="row">
                Courier ID: #<td th:text="${order.getCourierId()}"></td>
            </div>

            <div class="row">
                Date: <td th:text="${order.getOrderDate()}"></td>
            </div>

            <div class="row">
                City: <td th:text="${order.getToCity()}"></td>
            </div>

            <div class="row">
                Street: <td th:text="${order.getToStreet()}"></td>
            </div>

            <div class="row">
                Zip: <td th:text="${order.getToZip()}"></td>
            </div>


            <h4>Order products:</h4>
            <tr th:each="product : ${products}">

                <div class="row">
                Product name: <td th:text="${product.getProductName()}"></td>
                </div>


                <div class="row">
                Price: <td th:text="${product.getPrice()}"></td> kr.
                </div>

            </tr>

            <h4>Total:</h4>
            <div class="row">
            <td style="color: forestgreen" th:text="${total}"></td> kr.
                </div>

            <button type="button" th:onclick="|window.location.href='/orders'|" class="order-finished-btn2">Back</button>


        </div>
    </div>
<div class="footer"></div>
</body>

</html>