<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="btn-box">
    <button onclick="window.location.href = 'http://localhost:8080/menu'" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button onclick="window.location.href = 'http://localhost:8080/menu'">Menu</button>
            <button onclick="window.location.href = 'http://localhost:8080/orders'">Orders</button>
            <button onclick="window.location.href = 'http://localhost:8080/users'">Users</button>
            <button onclick="window.location.href = 'http://localhost:8080/couriers'">Couriers</button>
            <button onclick="window.location.href = 'http://localhost:8080/statistics'">Statistics</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a href="http://localhost:8080/logout">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="order-finished-container2">
        <div class="order-finished-header">
            User ID: #<td th:text="${user.getUserId()}"></td>
        </div>

        <h4>User details:</h4>

        <div class="row">
            Username: <td th:text="${user.getUsername()}"></td>
        </div>

        <div class="row">
            Password: <td th:text="${user.getPassword()}"></td>
        </div>

        <div class="row">
            Email: <td th:text="${user.getEmail()}"></td>
        </div>

        <div class="row">
            Street: <td th:text="${user.getStreet()}"></td>
        </div>

        <div class="row">
            City: <td th:text="${user.getCity()}"></td>
        </div>

        <div class="row">
            Zip: <td th:text="${user.getZip()}"></td>
        </div>

        <div class="row">
            Phone number: <td th:text="${user.getPhoneNumber()}"></td>
        </div>

        <div class="row">
            Access level: <td th:text="${user.getUserRole()}"></td>
        </div>


        <button onclick="window.location.href = 'http://localhost:8080/users'" class="order-finished-btn2">Back</button>
    </div>

    <div class="footer"></div>

</div>
</body>

</html>