<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body style="background-color: #007ac1">
    <div class="btn-box"></div>
    <div class="center">
        <div class="container">
            <form name="loginVerify" action="/loginVerify" method="POST">

                <div class="col">

                    <div class="col">
                        <div class="form-group">
                            <label for="username" class="control-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username" value="admin1">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="password" class="control-label">Username</label>
                            <input type="text" class="form-control" name="password" id="password" value="123321">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <button name="login" type="submit" value="0" class="btn btn-primary">login</button>
                            <button onclick="location.href='http://localhost:8080/register'" type="button" value="0" class="btn btn-primary">register</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</body>
</html>