<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Add</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://css.gg/trash.css' rel='stylesheet'>
</head>

<body>
<div class="btn-box">
    <button type="button" th:onclick="|window.location.href='/menu'|" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button type="button" th:onclick="|window.location.href='/menu'|">Menu</button>
            <button type="button" th:onclick="|window.location.href='/orders'|">Orders</button>
            <button type="button" th:onclick="|window.location.href='/users'|">Users</button>
            <button type="button" th:onclick="|window.location.href='/couriers'|">Couriers</button>
            <button type="button" th:onclick="|window.location.href='/statistics'|">Statistics</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a href="http://localhost:8080/logout">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <button class="add-btn" type="button" th:onclick="|window.location.href='/addProduct'|">Add</button>
    <div class="content-box">
        <form th:action="@{/search}" class="example" action="#">
            <input type="text" placeholder="Search.." name="keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <tr th:each="product: ${products}">
            <div class="object-box" id="decenter">
                <img class="object-img" th:src="@{${product.getImageUrl()}}" alt=""/>
                <div class="object-text">
                    <div class="object-title">
                        <b>
                            <td th:text="${product.getProductName()}"></td>
                        </b>
                    </div>
                    <div class="object-desc">
                        <br>
                        <td th:text="${product.getProductDescription}"></td>
                        <br>
                    </div>
                    <div class="object-price">
                        <b>
                            <td th:text="${product.getPrice()}"></td> kr.
                        </b>
                    </div>
                </div>

                <div class="object-options">
                    <div class="object-btn">
                        <div class="center2">
                            <a th:href="@{/removeProduct(productId=${product.getProductId()})}" class="fa fa-trash-o" style="font-size: 40px; text-decoration: none"></a>
                        </div>
                    </div>

                    <div class="object-btn">
                        <div class="center2">
                            <a th:href="@{/productConfig(productId=${product.getProductId()})}" class="fa fa-cog" style="font-size: 40px; text-decoration: none"></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="object-divider">
            </div>
        </tr>
    </div>

    <div class="footer"></div>

</div>

</body>

</html>