<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="btn-box">
    <button onclick="window.location.href = 'http://localhost:8080/menuCustomer'" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button onclick="window.location.href = 'http://localhost:8080/menuCustomer'">Menu</button>
            <button>Orders</button>
            <button>Users</button>
            <button>Couriers</button>
            <button>Statistics</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="order-box">
        <div class="order-box-header">

        </div>
        <div class="order-box-content">

        </div>
        <div class="order-box-footer">

        </div>
    </div>
    <div class="content-box">
        <form th:action="@{/productSearch}" class="example" action="#">
            <input type="text" placeholder="Search.." name="keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <tr th:each="product: ${products}">
            <div class="object-box" id="decenter">
                <img class="object-img" th:src="@{${product.getImageUrl()}}" alt=""/>
                <div class="object-text">
                    <div class="object-title">
                        <b>
                            <td th:text="${product.getProductName()}"></td>
                        </b>
                    </div>
                    <div class="object-desc">
                        <br>
                        <td th:text="${product.getProductDescription}"></td>
                        <br>
                    </div>
                    <div class="object-price">
                        <b>
                            <td th:text="${product.getPrice()}"></td> kr.
                        </b>
                    </div>
                </div>
                <div class="object-options">
                    <a th:href="@{/orderProduct(productName=${product.getProductName()})}" class="object-pick-btn"></a>
                </div>
            </div>
        </tr>

    </div>
</div>

</body>

</html>