<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="test.js"></script>
</head>

<body>
<div class="btn-box">
    <button onclick="window.location.href = 'http://localhost:8080/menu'" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button onclick="window.location.href = 'http://localhost:8080/menu'">Menu</button>
            <button onclick="window.location.href = 'http://localhost:8080/orders'">Orders</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a href="http://localhost:8080/logout">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="order-box">
        <div class="order-box-header">
        </div>

        <div class="order-box-content">
        <tr th:each="name:  ${session.chosen}">
            Product: <td th:text="${name.productName}"></td>,
            <td th:text="${name.price}"></td> kr.
            <br>
        </tr>
        </div>

        <div class="order-box-footer-row">
        <button onclick="window.location.href = 'http://localhost:8080/show'" class="order-box-footer-cont">
            Continue
        </button>
        <a th:href="@{/clear}" class="order-box-footer-clear">
            Clear
        </a>
    </div>
    </div>
    <div class="content-box">
        <form th:action="@{/search}" class="example" action="#">
            <input type="text" placeholder="Search.." name="keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <tr th:each="product: ${products}">
            <div class="object-box" id="decenter">
                <img class="object-img" th:src="@{${product.getImageUrl()}}" alt="" src=""/>
                <div class="object-text">
                    <div class="object-title">
                        <b>
                            <td th:text="${product.getProductName()}"></td>
                        </b>
                    </div>
                    <div class="object-desc">
                        <br>
                        <td th:text="${product.getProductDescription}"></td>
                        <br>
                    </div>
                    <div class="object-price">
                        <b>
                            <td th:text="${product.getPrice()}"></td> kr.
                        </b>
                    </div>
                </div>
                <div class="object-options">

                    <button class="order-btn" th:onclick="'javascript:pushData(\'' + ${product.getProductId()} + '\');'" th:value="${product.getProductId()}">Add</button>


                    <script th:inline="javascript">
                        /*<![CDATA[*/

                        let arr = [];

                        window.onload = displayData;


                        function pushData(data) {


                            arr.push(data);

                            $.ajax({
                                contentType: "application/json",
                                type: "POST",
                                data: JSON.stringify(arr),
                                url: "/choice",

                            });

                            location.reload()

                        }

                        function displayData() {
                            arr = [[${session.choice}]];
                        }


                        /*]]>*/
                    </script>
                </div>
            </div>
            <div class="object-divider">
            </div>
        </tr>
    </div>

    <div class="footer"></div>

</div>

</body>

</html>