<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="btn-box">
    <button onclick="window.location.href = 'http://localhost:8080/menu'" class="logo">Logo</button>
    <div class="center">
        <div class="btn-group">
            <button onclick="window.location.href = 'http://localhost:8080/menu'">Menu</button>
            <button onclick="window.location.href = 'http://localhost:8080/orders'">Orders</button>
            <button onclick="window.location.href = 'http://localhost:8080/users'">Users</button>
            <button onclick="window.location.href = 'http://localhost:8080/couriers'">Couriers</button>
            <button onclick="window.location.href = 'http://localhost:8080/statistics'">Statistics</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" th:text="${session.user.username}">Dropdown</button>
        <div class="dropdown-content">
            <a href="http://localhost:8080/logout">Logout</a>
        </div>
    </div>
</div>

<div class="center">
    <div class="content-box">
        <form th:action="@{/searchOrder}" class="example" action="#">
            <input type="text" placeholder="Search.." name="keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <tr th:each="order : ${orders}">
            <a th:href="@{/inspect(orderNumber=${order.getOrderNumber()})}" class="show-order-box" id="decenter">
                Order number: #<b><td th:text="${order.getOrderNumber()}" alt=""></td></b>
                , date: #<b><td th:text="${order.getOrderDate()}"></td></b>
            </a>
        </tr>

    </div>

    <div class="footer"></div>

</div>
</body>

</html>