<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="btn-box">
            <button onclick="window.location.href = 'http://localhost:8080/menuAdmin'" class="logo">Logo</button>
            <div class="center">
                <div class="btn-group">
                    <button onclick="window.location.href = 'http://localhost:8080/menuAdmin'">Menu</button>
                    <button>Orders</button>
                    <button>Users</button>
                    <button>Couriers</button>
                    <button>Statistics</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>

        <div class="center">
            <div class="container">
                <form action="#" th:action="@{/productConfigVerify}" th:object="${product}" method="POST">
                    <div class="col">
                        <div class="col">
                            <div class="form-group">
                                <label for="name" class="control-label">Product name</label>
                                <input type="text" class="form-control" id="name" placeholder="name" th:field="*{productName}"/><br>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="price" class="control-label">Price</label>
                                <input type="number" class="form-control" id="price" placeholder="price" th:field="*{price}"/><br>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="url" class="control-label">Image url</label>
                                <input type="text" class="form-control" id="url" placeholder="url" th:field="*{imageUrl}"/><br>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="description" class="control-label">Product description</label>
                                <input type="text" class="form-control" id="description" placeholder="description" th:field="*{productDescription}"/><br>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <button name="post" type="submit" value="0" class="btn btn-primary">save</button>
                                <button onclick="location.href='http://localhost:8080/menu'" type="button" value="0" class="btn btn-primary">back</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>

</html>