<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #007ac1">
    <div class="btn-box"></div>
    <div class="center">
        <div class="container">
            <form action="#" th:action="@{/registerVerify}" th:object="${user}" method="POST">
                <div class="col">
                    <div class="col">
                        <div class="form-group">
                            <label for="username" class="control-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="username" th:field="*{username}"/><br>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="text" class="form-control" id="password" placeholder="password" th:field="*{password}"/><br>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="email" th:field="*{email}"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="street" class="control-label">Street</label>
                            <input type="text" class="form-control" id="street" placeholder="street" th:field="*{street}"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="city" class="control-label">City</label>
                            <input type="text" class="form-control" id="city" placeholder="city" th:field="*{city}"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="zip" class="control-label">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="zip" th:field="*{zip}"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="phone" class="control-label">Zip</label>
                            <input type="text" class="form-control" id="phone" placeholder="phone" th:field="*{phoneNumber}"/><br>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <button name="post" type="submit" value="0" class="btn btn-primary">create account</button>
                            <button onclick="location.href='http://localhost:8080/login'" type="button" value="0" class="btn btn-primary">back</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

